body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 14pt; /* Размер основного шрифта в пунктах  */
  background-color: 	#FFD673; /* Цвет фона веб-страницы */
  color: #333; /* Цвет основного текста */ 
}
table {
    width: 100%;

}
td{
    width: 25%;
    align-content: center;
}
h2{
    align-content: center;
}
